# Environment variables for the NOBAN database configuration
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

# Environment variables for the NOBAN application configuration
NOBAN_VERSION=
DATABASE_URL=
DATABASE_USERNAME=
DATABASE_PASSWORD=